body {
	background-color: #EEEEEE;
}

.btn{
    max-width: 150px;
	margin: 50px 0 20px 0;
	padding: 12px;
	font-size: 14px;
	text-align: center;
    text-decoration: none;
	background: #3BB8D4;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.14);
	border-radius: 3px;
	display: block;
	cursor: pointer;
}

#edit, #remove {
	color: #D6214C;
	cursor: pointer;

}

th {
	background-color: #B3C2CB;
	padding: 12px 10px;
}

.container {
	margin-left: 30px;
	margin-right: 30px;
}

.title_container {
	margin-top: 50px;
	margin-bottom: 40px;
}

td {
	border-bottom: 1px solid #E1E3E5;
	padding: 12px 10px;
} 

/* /* tr:hover td {
	background: #1a2a61;
  } */

/* table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
	background-color: #232f52;
} */

button {
	margin-bottom: 30px;
	margin-top: 15px;
}

#example_length {
	margin-bottom: 20px;
}

/* table.dataTable tbody tr {
	background-color: #eeeeee;
  } */